@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

/*BODY RESET*/

html, body, header, nav, article, aside, section, div, ol, ul, li, h1, h2, h3, h4, h5, h6, p, a, footer {
	font-family: 'Letter Gothic Std', sans-serif;
	font-size: 18px;
	font-weight: 300, 700;
	margin: 0;
	padding: 0;
	color: #8A8988;
	list-style: none;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


body {
}
